.card-container{
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:20px;
    width: 70%;
    margin: auto;

}
.card{
    background-color: rgb(67, 112, 91);
    color: white;
    box-shadow: 10px 10px 15px gray;
    border-radius: 10px;
    border-color: rgb(202, 202, 202);
  
}
.card-body{
    padding:20px;
}
@media only screen and (max-width:688px){
    .card-container{
        grid-template-columns: repeat(1,1fr);
    } 
}
@media only screen and (min-width:689px) and (max-width:991px){
    .card-container{
        grid-template-columns: repeat(2,1fr);
    } 
}