.home-banner{
    width: 100%;
    height: 600px;
    background:radial-gradient(#0000004b, #000000c2),
     url("https://images.unsplash.com/photo-1579684453423-f84349ef60b0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1191&q=80https://muslimaid.storage.googleapis.com/upload/img_cache/file-2540-c3140610843658e55343c899d6b4d6f5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}